.image-with-loader {
  position: relative;
  display: block;
  width: 100%; /* 親要素の幅に従う */
  height: 70vh; /* アスペクト比を維持 */
  background-color: #e0e0e0; /* プレースホルダーの背景色 */
  object-fit: cover; /* 画像をコンテナ内でフィットさせる */
  border-radius: 50px;
}
.image-with-loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0; /* プレースホルダーの背景色 */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-with-loader::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.image-with-loader.loaded::before,
.image-with-loader.loaded::after {
  display: none; /* 読み込み完了後にプレースホルダーとローダーを非表示に */
}

/* Foundation */
@font-face {
  font-family: "Zen Maru Gothic";
  src:
    url("WebSubsetZenMaruGothic-Medium.woff") format("woff"),
    url("WebSubsetZenMaruGothic-Bold.woff") format("woff");
}
@font-face {
  font-family: "Ephesis";
  src:
    url("WebfontEphesis-Regular.woff") format("woff");
}
:root {
  --base-color: #F1F9ED;
  --main-color: #88A640;
  --accent-color: #FFF967;
  --font-main-color: #2F2F2F;
  --font-sub-color: #D9D9D9;
  --white-color: #fff;
}
body{
  font-family: "Zen Maru Gothic", serif, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: var(--font-main-color);
}

.title_font{
  font-family: "Ephesis", "Helvetica Neue", cursive, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  mix-blend-mode: color-burn;
}
h1{
  font-size: 40px;
  font-weight: 600;
}
h2{
  font-size: 35px;
  font-weight: 600;
  color: var(--main-color);
}
h3{
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, var(--main-color) 0%, var(--main-color) 30%, var(--accent-color) 30%, var(--accent-color) 100%) 1;
}
h4{
  font-size: 25px;
  font-weight: 600;
}
a{
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid var(--font-main-color);
  transition: .4s;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    transition: .2s;
  }
}
ul li::before{
  content: "・";
  font-weight: 600;
  color: var(--main-color);
}
iframe{
  border-radius: 20px;
  max-width: 100%;
}
img{
  max-width: 100%;
}
p{
  margin-top: .6rem;
}
footer{
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}
/* Layout */
.l-logoanim_300{
  position: relative;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
.l-logoanim_name300{
  position: relative;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.l-logoanim_150{
  position: relative;
  width: 150px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.l-logoanim_128{
  position: relative;
  width: 128px;
  height: 128px;
  margin-top: 1rem;
  margin-left: 20px;
  margin-bottom: 1rem;
  margin-right: auto;
}
.l-text_left{
  text-align: left;
}
.l-bg{
  background: url("../img/bg.jpg") repeat;
  background-color: var(--base-color);
}
.l-bg_W{
  background: none;
  background-color: var(--white-color);
}
.l-text_center{
  text-align: center;
}
.l-svg_center{
  display: inline-block;
  margin: 0 auto;
}
.l-block_center{
  margin: 0 auto;
}
.l-margin_top{
  margin-top: 80px;
}
.l-margin_top_2rem{
  margin-top: 2rem;
}
.l-margin_top_4rem{
  margin-top: 4rem;
}
.l-padding_top{
  padding-top: 80px;
}
.l-padding_top_2rem{
  padding-top: 2rem;
}
.l-padding_side{
  padding: 0 80px;
}
.l-padding_upside{
  padding: 80px 0;
}
.l-max500{
  margin-top: 2rem;
  max-width: 500px;
}
.l-max800{
  margin-top: 2rem;
  max-width: 800px;
}
.l-radius{
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

/* Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
}
.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation  ul li::before{
  content: "";
}
.main-navigation  a{
  border: none;
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}
.main-navigation li {
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
  padding: 1rem;
}
.main-navigation a span{
  text-align: center;
	display: block;
	text-decoration: none;
}
.main-navigation a .p-link_text{

}
.main-navigation a .p-link_subtext{
  color: var(--main-color);
  font-size: .8rem;
  transition: .4s;
}
@media (any-hover: hover) {
  .main-navigation a:hover .p-link_subtext{
    color: var(--accent-color);
    transition: .2s;
  }
}
.p-header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
.p-navi{
  background-color: var(--white-color);
  width: 100%;
}
.p-navi_ander{
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.menu-toggle{
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 4;
}
.menu-toggle span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}.menu-toggle span:nth-child(1) {
  top: 4px;
}
.menu-toggle span:nth-child(2) {
  top: 14px;
}
.menu-toggle span:nth-child(3) {
  bottom: 4px;
}

.main-navigation ul{
  padding-top: 80px;
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: url("../img/bg.jpg") repeat;
  background-color: var(--base-color);
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}
.main-navigation.toggled ul {
  right: 0;
  opacity: 1;
}
.toggled .menu-toggle span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.toggled .menu-toggle span:nth-child(2) {
  opacity: 0;
}
.toggled .menu-toggle span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
.p-navi_logo{
  display: none;
}
@media screen and (min-width: 75em) {

  .main-navigation ul{
    padding-top: 0;
    top: auto;
    right: auto;
    bottom: auto;
    display: block;
    position: relative;
    opacity: 1;
    background:none;
  }
  .p-navi_ander::before{
    position: absolute;
    top:0;
    left: 0;
    content: url("../img/kado.svg");
  }
  .p-navi_logo{
    display: block;
    background-color: var(--white-color);
    height: 100%;
    min-height: 200px;
    width: fit-content;
    min-width: 180px;
    clip-path: inset(0 0 0 0 round 0 0 60px 0);
  }
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
    justify-content: right;
	}
}

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Object/Component */
.c-button{
  display: inline-block;
  position: relative;
  border-bottom: none;
  padding: 1rem 2.3rem;
  margin-left: auto;
  margin-right: auto;
}
.c-button::before{
  position: absolute;
  top: 0;
  left: 0;
  content: url("../img/ellipse.svg");
  transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(1);
}
.c-button::after{
  position: absolute;
  top: 50%;
  right: 0;
  margin-left: .6rem;
  content: url("../img/arrow.svg");
  transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateY(-50%) translateX(-50%);
}
.c-button span{
  position: relative;
  display: block;
  z-index: 2;
}
@media (any-hover: hover) {
  .c-button:hover {
    color: inherit;
    border-bottom: none;
  }
  .c-button:hover::before {
    transform-origin: 50% 50%;
    transition: 1.2s cubic-bezier(0.75, -2.5, 0.25, 2.4);
		transform: scale(1.21);
  }
  .c-button:hover::after {
    transition: .8s cubic-bezier(0.75, -2.5, 0.25, 2.4);
    transform: translateY(-50%) translateX(0);
  }
}
.c-box{
  background-color: var(--white-color);
  max-width: 100%;
  padding: 2rem;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  border-radius: 20px;
  box-shadow: 20px 18px #FFF967;
}
.c-quote{
  position: relative;
  background-color: var(--white-color);
  padding: 2rem;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}
.c-quote::before{
  content: url("../img/quotation.svg");
  position: absolute;
  top: -20px;
  left: 30px;
}
.c-quote::after{
  content: url("../img/quotation.svg");
  transform: rotate(0.5turn);
  position: absolute;
  bottom: -20px;
  right: 30px;
}
.c-guide{
  margin: auto 1rem;
  position: relative;
  background-color: var(--white-color);
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  padding: 2rem .8rem;
  border-radius: 20px;
  border: 3px solid var(--main-color);
  margin-top: 100px;
}
.c-guide .c-guide_title{
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 25px;
  font-weight: 400;
  background-color: var(--white-color);
  color: var(--main-color);
  transform: translateX(-50%) translateY(-50%);
  width: 200px;
  height: 40px;
  text-align: center;
  clip-path: inset(0 99px 0 99px);
}
.c-guide .c-guide_title::before{
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  background-color: var(--main-color);
  width: 3px;
  height: 42px;
}
.c-guide .c-guide_title::after{
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  content: "";
  background-color: var(--main-color);
  width: 3px;
  height: 42px;
}
@media screen and (min-width: 37.5em) {
  .c-guide{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
  }

}

.c-guide.is-active{
  animation:1.4s linear guide_shadow both;
}
.c-guide.is-active .c-guide_title{
  animation:1s cubic-bezier(0.215, 0.61, 0.355, 1) open_guide both;
}
.c-guide.is-active .c-guide_title::before{
  animation:1s cubic-bezier(0.215, 0.61, 0.355, 1) open_left both;
}
.c-guide.is-active .c-guide_title::after{
  animation:1s cubic-bezier(0.215, 0.61, 0.355, 1) open_right both;
}
@keyframes open_left{
  0%{ left: 50%;}
  100%{ left: 0; }
}
@keyframes open_right{
  0%{ right: 50%;}
  100%{ right: 1px; }
}
@keyframes open_guide{
  0%{ clip-path: inset(0 99px 0 99px);}
  100%{ clip-path: inset(0 0 0 0); }
}
@keyframes guide_shadow{
  0%{ box-shadow: 20px 18px transparent;}
  70%{ box-shadow: 20px 18px transparent;}
  100%{ box-shadow: 20px 18px #FFF967; }
}
.c-logoanim_text{
  position: absolute;
  top: 6%;
  left: 48%;
  transform: translate(-50%,-50%);
  width: inherit;
  transform-origin: 50% 190%;
  animation:30s linear infinite rotation1;
}
.c-logoanim_pic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: inherit;
}
@keyframes rotation1{
  0%{ transform:translate(-50%,-50%) rotate(0);}
  100%{ transform:translate(-50%,-50%) rotate(360deg); }
}
.c-top_h2{
  color: var(--font-main-color);
  display: block;
  width: 100%;
  position: relative;
  height: 5rem;
  margin: 0 auto;
}
.c-top_h2_eng{
  display: inline-block;
  position: absolute;
  top: 0;
  left: calc(50% - 2rem);
  font-family: "Ephesis", "Helvetica Neue", cursive, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 85px;
  color: var(--main-color);
  transform-origin: center;
  transform: rotate(0) translateX(-50%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.c-top_h2.is-active .c-top_h2_eng{
  transform: rotate(-9.77deg) translateX(-50%);
}
.c-top_h2 .c-text_split{
  display: flex;
  position: absolute;
  top: 3.2rem;
  left: calc(50% + 2rem);
  overflow: hidden;
  transform: translateX(-50%);
}
.c-top_h2 .is-text-each{
  display: block;
  transform: translateY(105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.c-top_h2.is-active .is-text-each{
  transform: translateY(0);
}

.c-text_w_line{
  margin: 0;
}
.c-text_w_line .line{
  display: inline-block;
  max-width: 100%;
  background-color: var(--white-color);
  clip-path: inset(0 100% 0 0);
  transition: clip-path cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s;
  margin-bottom: .6rem;
}
.is-active .c-text_w_line .line{
  clip-path: inset(0 0 0 0);
  transition: clip-path cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s;
}
.c-text_w_line .is-text-each{
  display: inline-block;
  opacity: 0;
  transition: opacity linear 0.3s;
}
.is-active .c-text_w_line .is-text-each{
  opacity: 1;
}
/* navi */
.c-flex{
  display: flex;
  justify-content:space-between;
}
.c-width_100{
  width: 100%;
}

/* Object/Project */

.p-top_navi_logo{
  display: none;
}
.p-top_anim_wrap img{
  position: absolute;
  width: auto;
  height: auto;
}
.p-top_textanim{
  max-width: 80vw;
  top: -2rem;
  left: -2%;
}
.p-top_anim_1,
.p-top_anim_2,
.p-top_anim_3,
.p-top_anim_4{
  /* display: none; */
  max-width: clamp(20%, 10vw, 100%);
  animation-name: fadein;
  animation-delay: 1600ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
.p-top_anim_1{
  top: 10%;
  right: 10%;
  animation-duration: 1s;
}
.p-top_anim_2{
  top: 60%;
  left: 8%;
  animation-duration: 2s;
}
.p-top_anim_3{
  bottom: 20%;
  right: 8%;
  animation-duration: 3s;
}
.p-top_anim_4{
  top: 25%;
  left: 20%;
  animation-duration: 4s;
}
@keyframes fadein{
  from{
  opacity: 0;
  transform: translatey(20px);
  }
  to{
  opacity: 1;
  transform: translatey(0);
  }
}
.p-banner img{
  display: block;
  margin: 1rem auto;
}
.p-top_section{
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
}  .p-top_image_wrap{
  display: block;
  width: auto;
  height: auto;
  position: relative;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
.p-top_anim_logo{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(35%);
}
.p-top_anim_logo_wrap{
  border-radius: 50%;
  padding: 30px;
  background-image: none;
  background-color: transparent;
}
@media screen and (min-width: 75em) {
  .p-top_image_wrap{
    padding: unset;
    display: block;
    width: auto;
    height: auto;
    position: relative;
    border-bottom-right-radius: 150px;
  }
.p-top_section{
  position: relative;
  width: calc(100% - 600px);
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.p-banner_wrap{
  display: flex;
  justify-content: center;
}
.p-banner{
  display: block;
  border: none;
}
.p-banner:hover{
  border: none;
}
.p-top_navi_logo{
  display: block;
}
.p-top_image{
  padding: 80px 0;
}
.p-top-navi{
  padding: 2rem;
  padding-top: 3rem;
  max-width: calc(200px + 2rem);
  position:fixed;
  right: 3.4rem;
  top: 3rem;
  border-radius: 150px;
}
.p-top-navi .main-navigation ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.p-top_textanim{
  top: 2rem;
  left: -4rem;
}
.p-top_anim_1,
.p-top_anim_2,
.p-top_anim_3,
.p-top_anim_4{
  display: block;
}
.p-top_anim_1{
  top: 15%;
  right: 10%;
  animation-name: fadein;
  animation-duration: 1s;
}
.p-top_anim_2{
  top: 40%;
  left: 5%;
  animation-name: fadein;
  animation-duration: 2s;
}
.p-top_anim_3{
  bottom: 5%;
  right: 5%;
  animation-name: fadein;
  animation-duration: 3s;
}
.p-top_anim_4{
  top: 25%;
  left: 30%;
  animation-name: fadein;
  animation-duration: 4s;
}
.p-top_anim_logo{
  position: absolute;
  bottom: 24px;
  left: -50px;
  transform: translateX(0);
}
.p-top_anim_logo_wrap{
  background: url("../img/bg.jpg") repeat;
  background-color: var(--base-color);
}
}
.p-mask_wrap{
  display: block;
  width: 300px;
  height: auto;
}
.p-mask_1{
  -webkit-mask-image: url('/style/mask/mask_1.svg');
  mask-image: url('/style/mask/mask_1.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.p-mask_2{
  -webkit-mask-image: url('/style/mask/mask_2.svg');
  mask-image: url('/style/mask/mask_2.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.p-mask_3{
  -webkit-mask-image: url('/style/mask/mask_3.svg');
  mask-image: url('/style/mask/mask_3.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.p-mask_4{
  -webkit-mask-image: url('/style/mask/mask_4.svg');
  mask-image: url('/style/mask/mask_4.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.p-top_about{
  display: flex;
  justify-content: center;
  color: var(--font-main-color);
  vertical-align: middle;
  flex-direction: column;
}
.p-top_about img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.p-top_about_1{
  padding: 0;
  text-align: center;
}
.p-top_about_2{
  padding-left: 2rem;
  text-align: center;
}
.p-top_about_3{
  padding-left: 1.6rem;
  text-align: center;
}
.p-top_guide{
  display: block;
}
.p-top_guide_text{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.p-footer_link{
  padding: 2rem;
  min-width: 17rem;
}
.p-footer_link_list{
  margin-top: 1rem;
}
.p-footer_link_list a{
  border: none;
}
.p-footer_link_list a:hover{
  border: none;
}
.p-footer_copy{
  padding: 2rem 0;
}
.p-footer_ad{
  padding: 2rem;
  padding-bottom: 0;
}
.p-top_about_last div:first-child{
  order: 2;
}
.p-top_about_last div:last-child{
  order: 1;
}
.p-top_about_at{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
}
.p-top_about_head{
  margin-top: 40px;
}
@media screen and (min-width: 37.5em) {
  .p-footer_ad{
    padding: 0;
    padding-top: 2rem;
  }
  .p-footer_link{
    padding-top: 4rem;
  }
  .p-footer_wrap{
    display: flex;
    justify-content: space-around;
    min-height: 400px;
  }
  .p-top_guide{
    display: flex;
    justify-content: space-around;
  }
  .p-top_guide_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    margin: unset;
  }
.p-top_about_last div:first-child{
  order: 1;
}
.p-top_about_last div:last-child{
  order: 2;
}
.p-top_about{
  flex-direction: row;
}
.p-top_about_1{
  padding-top: 1rem;
 padding-bottom: .2rem;
}
.p-top_about_2{
  padding-top: 4rem;
  padding-left: 1.2rem;
}
.p-top_about_3{
  padding-left: 0;
  padding-top: .2rem;
}
.p-top_about_at{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.is-active.is-footer_map{
  margin-top: -2rem;
  transition: 1.2s ease-in-out;
}
}
/* Object/Utility */
.u-accessibility{
  position: absolute;
  display: block;
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
}



.news-list {
  max-width: 600px;
  margin: 3rem auto 2rem;
}

.news-item {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: .3s ease-in-out;
}

@media (any-hover: hover) {
  .news-item:hover {
    margin-right: -6px;
    margin-left: 6px;
  }
}
.news-category {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #7c9945;
  border: 1px solid #7c9945;
  border-radius: 50px;
  padding: 3px 10px;
  margin-right: 10px;
}

.news-category-info {
  color: #000;
  border-color: #000;
}

.news-date {
  font-size: 12px;
  color: #666;
}

.news-content {
  font-size: 14px;
  color: #333;
  margin-top: 8px;
  line-height: 1.5;
}

.news-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 8px 0;
}

.news-item:last-child .news-content::before {
  content: none;
}


.menu-heading {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #333;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.menu-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 8px;
}
.menu-details {
  flex-grow: 1;
}
.menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
}
.menu-title::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #000;
  margin: 0 10px;
  order: 2;
}
.menu-name {
  font-weight: bold;
  order: 1;
}
.menu-price {
  white-space: nowrap;
  order: 3;
}
.menu-description {
  font-size: 14px;
  color: #666;
}
.menu-heading + .menu-item {
  margin-top: 10px;
}
